---
layout: post
---

<div style="display: flex;">
{% if page.previous.url %}
	<a style="margin-right: auto;"href="{{page.previous.url}}">Previous</a>
{% endif %}

{% if page.next.url %}
	<a style="margin-left: auto;" href="{{page.next.url}}">Next</a>
{% endif %}
</div>

<p></p>

{{ content }}

<div style="display: flex;">
{% if page.previous.url %}
	<a style="margin-right: auto;"href="{{page.previous.url}}">Previous</a>
{% endif %}

{% if page.next.url %}
	<a style="margin-left: auto;" href="{{page.next.url}}">Next</a>
{% endif %}
</div>
